extends ../../layouts/default
include ../../mixins/filterStatus
include ../../mixins/search
include ../../mixins/alert
include ../../mixins/pagination
include ../../mixins/formChangeMultiBin

block main 
    +alert-success(5000)

    h1 Sản phẩm đã xoá

    .card.mb-3 
        .card-header Bộ lọc và tìm kiếm
        .card-body
            .rol
                .col-6 
                    +filterStatus(filterStatus)
                .col-6 
                    +search(keyword)

    .card.mb-3 
        .card-header Sản phẩm đã xoá
            .card-body
                //- .row 
                //-     .col-8 
                //-         +formChangeMultiBin(`${prefixAdmin}/products/change-multi?_method=PATCH`)
                table(
                    class= "table table-hover table-sm"
                )
                    thead 
                        tr 
                            th STT 
                            th Hình ảnh
                            th Tiêu đề
                            th Giá
                            th Vị trí
                            th Trạng thái
                            th Hành động
                    tbody
                        each item, index in records 
                            tr
                                td #{index + 1}
                                td 
                                    img(src=item.thumbnail, 
                                        alt= item.title
                                        width= "100px"
                                        height= "auto"
                                    )
                                td #{item.title }
                                td #{item.price} #{"(vnd)"}
                                td 
                                    input(
                                        type= "number"
                                        value = item.position 
                                        style = "width: 60px"
                                        min="1"
                                        name="position"
                                    )
                                td 
                                    if(item.status == "active")
                                        span(class="btn btn-success") Hoạt động
                                    else 
                                        span(class="btn btn-danger") Hoạt động
                                td
                                    if(role.permissions.includes("products_restore")) 
                                        button(
                                            class = "btn btn-primary btn-sm"
                                            data-id = item.id 
                                            button-restore-bin
                                        ) Khôi phục
                                    if(role.permissions.includes("products-bin_delete"))
                                        button(
                                            class= "btn btn-dark btn-sm ml-1"
                                            data-id = item.id 
                                            button-delete-bin
                                        ) Xoá hẳn
    
    +pagination(pagination)

    form(
        action="" 
        method="POST"
        id= "form-change-status"
        data-path= `${prefixAdmin}/products/change-status`
    )
    if(role.permissions.includes("products_restore")) 
        form(
            action="" 
            method="POST"
            id= "form-restore-item"
            data-path= `${prefixAdmin}/products/bin/restore`
        )
    if(role.permissions.includes("products-bin_delete"))
        form(
            action="" 
            method="POST"
            id= "form-delete-item-bin"
            data-path= `${prefixAdmin}/products/bin/delete`
        )

    script(src="/admin/js/bin.js")
