extends ../../layouts/default

block main
    .card.mb-3 
        .card-header
            if(product.title)
                h1(class="mb-4 title-detail") <b>#{product.title}</b>
            .card-body
                .row
                    .col-4
                        if(product.thumbnail)
                            div(class="mb-4 detail-image")
                                img(
                                    src= product.thumbnail 
                                    style= "width: 100px"
                                )
                    .col-8 
                        

                        if(product.price)
                            h1(class="mb-4 detail-price") <b>#{product.price}$</b>
                        
                        if(product.discountPercentage)
                            h1(class="mb-4 detail-discount" ) Giảm giá: <b>#{product.discountPercentage}%</b>

                        if(product.stock)
                            h1(class="mb-4 detail-stock") Còn lại: <b>#{product.stock}</b>
                        
                        if(product.status)
                            div(class="mb-4 detail-status")
                                span Trạng thái: 
                                if (product.status === "active")
                                    span(class="btn btn-success") Hoạt động
                                else 
                                    span(class="btn btn-danger") Dừng hoạt động
                        
                        if(product.position)
                            h1(class="mb-4 detail-position") Vị trí: <b>#{product.position}</b>

                        if(product.description)
                            h1(class="mb-4 detail-description") Mô tả:  !{product.description} 

                        a(
                            href=`${prefixAdmin}/products/edit/${product.id}`
                            class = "btn btn-warning"
                        ) Chỉnh sửa
                    
                        

    script(src="/admin/js/product.js")