extends ../../layouts/default
include ../../mixins/moment

block main
    .product-detail
        .container.my-5
            .row 
                .col-6 
                    .inner-thumb 
                        img(src= product.thumbnail alt= product.title)
                .col-6
                    div(class="inner-info")
                        h1(class="mb-4 title-detail") <b>#{product.title}</b>

                        if(product.category)
                            div(class="inner-category")
                                span Danh mục: 
                                span(class="inner-category-title") #{product.category.title} 
                        if(product.price)
                            div(class="inner-price-old") #{product.priceFormat} #{"(vnd)"}
                        if(product.discountPercentage)
                            div(class="inner-percent") Giảm giá: <span>#{product.discountPercentage}%</span>
                        if(product.stock)
                            div(class="inner-stock") 
                                p Còn lại: <span>#{product.stock}</span> sản phẩm

                        div(class="inner-createdBy") Người tạo:  #{product.accountFullName} - 
                            +formatDateTime(product.createdBy.createdAt)
                        div(class="inner-updatedBy") Cập nhập gần nhất:
                            - const updatedBy = product.updatedBy.slice(-1)[0];
                            if(updatedBy)
                                p #{updatedBy.accountFullName} - 
                                    +formatDateTime(updatedBy.updatedAt)
                        a(
                            href=`${prefixAdmin}/products/edit/${product.id}`
                            class = "btn btn-warning"
                        ) Chỉnh sửa

        hr 

        .container.my-5 
            .row 
                .col-12 
                    h2(class="inner-title") Mô tả sản phẩm
                    .inner-desc !{product.description}

                    
                        

    script(src="/admin/js/product.js")