extends ../../layouts/auth
include ../../mixins/alert

block main 
    +alert-error(3000)

    .container.my-5 
        .row.justify-contend-center 
            .col-8 
            h1(class="text-center") Đăng nhập
            form(
                action= `${prefixAdmin}/auth/login`
                method="POST"
            )
                //- div(class="form-group")
                //-     label(for="email") Email 
                //-     input(
                //-         type= "email"
                //-         class="form-control"
                //-         id="email"
                //-         name="email"
                //-         required
                //-     )
                div(class="form-group")
                    label(for="userName") Tên đăng nhập
                    input(
                        type= "text"
                        class="form-control"
                        id="userName"
                        name="userName"
                        required
                    )
                div(class="form-group")
                    label(for="password") Mật khẩu 
                    input(
                        type= "password"
                        class="form-control"
                        id="password"
                        name="password"
                        required
                    )
                != captcha
                div(class="form-group")
                label(for="position") 
                button(
                    type= "submit"
                    class="btn btn-primary"
                ) Đăng nhập

    script(src="https://www.google.com/recaptcha/api.js" async defer)