extends ../../layouts/default.pug

block main
    .card.mb-3 
        .card-header
            if(products.title)
                h1(class="mb-4 title-detail") <b>#{products.title}</b>
            .card-body
                .row
                    .col-4
                        if(products.thumbnail)
                            div(class="mb-4 detail-image")
                                img(
                                    src= products.thumbnail 
                                    style= "width: 100px"
                                )
                    .col-8 
                        if(products.discountPercentage)
                            h1(class="mb-4 discount-newPrice") 
                                <b class="price-new-detail">#{priceNew}$</b> 
                                <b class="detail-discount">-#{products.discountPercentage}%</b>

                        if(products.price)
                            h1(class="mb-4 price-old-detail") <b>#{products.price}$</b>

                        if(products.stock)
                            h1(class="mb-4 detail-stock") Còn lại: <b>#{products.stock}</b>

                        if(products.description)
                            h1(class="mb-4 detail-description") Mô tả:  !{products.description} 

    script(src="/admin/js/product.js")
