extends ../../layouts/default
include ../../mixins/filterStatus
include ../../mixins/search
include ../../mixins/pagination
include ../../mixins/formChangeMulti
include ../../mixins/alert
include ../../mixins/sort
include ../../mixins/table-tree

block main 
    if(role.permissions.includes("products-category_view"))
        h1 danh mục sản phẩm
                        
        .card.mb-3 
            .card-header Danh mục sản phẩm
                .card-body
                    .row
                        if(role.permissions.includes("products-category_create"))
                            .col-4 
                                a(
                                    href=`${prefixAdmin}/products-category/create`
                                    class="btn btn-outline-success"
                                ) Thêm mới
                    table(
                        class= "table table-hover table-sm"
                        checkbox-multi
                    )
                        thead 
                            tr 
                                th 
                                    input(
                                        type="checkbox"
                                        name="checkall"
                                        ) 
                                th STT 
                                th Hình ảnh
                                th Tiêu đề
                                th Vị trí
                                th Trạng thái
                                th Hành động
                        
                        tbody
                            +table-tree(records)
                            


        script(src="/admin/js/product.js")

