extends ../../layouts/default.pug
include ../../mixins/box-head
include ../../mixins/product-layout
include ../../mixins/alert


block main 
    +alert-success(3000)
    +alert-error(3000)

    //- h1 Chat với Trợ lý ảo Leon
    //- div#chatbox
    //- input#message(type="text" placeholder="Nhập tin nhắn...")
    //- button#sendButton Gửi
    .container.my-5 
        .row.justify-content-center 
            .col-8 
                h1(class="mb-4") Chat với Trợ lý ảo Leon
                form(
                        action="/leon/chatbot"
                        method="POST"
                    )
                        input(
                            type="text"
                            class="form-control"
                            id="message"
                            name="message"
                            placeholder="Nhập tin nhắn..."
                        )
                        div()
                            label(for="position") 
                            button(
                                type= "submit"
                                class="btn btn-outline-primary form-control"
                            ) <b>Gửi</b>