mixin orderStatus(status)
    if status == "pending"
        span(class=`status ${status}`) Chờ xác nhận
    if status == "approved"
        span(class=`status ${status}`) Đã duyệt
    if status == "processing"
        span(class=`status ${status}`) Đang chuẩn bị
    if status == "shipped"
        span(class=`status ${status}`) Đang giao
    if status == "completed"
        span(class=`status ${status}`) Đã nhận
    if status == "cancelled"
        span(class=`status ${status}`) Đã huỷ