extends ../../layouts/default

block main
    h1 Tổng quan Dashboard

    - var bestProduct = statistic.products && statistic.products.length > 0 ? statistic.products[0] : {};
    - var thumbnail = bestProduct.thumbnail || '';
    - var title = bestProduct.title || 'Không có sản phẩm';
    - var sold = bestProduct.sold || 0;
    - var revenueDay = statistic.totalRevenue ? statistic.totalRevenue.inDay || 0 : 0;
    - var revenueMonth = statistic.totalRevenue ? statistic.totalRevenue.inMonth || 0 : 0;
    - var userTotal = statistic.user ? statistic.user.total || 0 : 0;
    - var userOnline = statistic.user ? statistic.user.statusOnline || 0 : 0;

    .dashboard
        .row.mt-4
            .col-10
                .card.mb-4
                    .card-header Tổng quan
                    .card-body.stats
                        .stat-card.blue
                            h3 Sản phẩm bán chạy nhất
                            img#bestProductThumbnail(src=thumbnail, alt='', width="80", height="auto")
                            h3#bestProductTitle
                                b= title
                            h3 Đã bán: <b><span id="bestProductSold"> #{sold} </span></b>

                        .stat-card.purple
                            h3 Doanh thu
                            h3 Trong ngày: <b><span id="revenueDay"> #{revenueDay} </span> VND</b>
                            h3 Trong tháng: <b><span id="revenueMonth">#{revenueMonth} </span> VND</b>

                        .stat-card.red
                            h3 Số lượng người dùng
                            h3 Tất cả: <b><span id="userTotal"> #{userTotal} </span></b>
                            h3 Đang truy cập: <b><span id="userOnline"> #{userOnline} </span></b>

block script
    script(src="/admin/js/dashboard.js")