extends ../../layouts/default.pug
include ../../mixins/box-head
include ../../mixins/product-layout
include ../../mixins/alert



block main 
    +alert-success(3000)
    +alert-error(3000)

    .container.my-3 

        include ../../partials/list-btn-user

        .row 
            .col-12 
                +box-head("Bạn bè")

    
        .row 
            each user in users 
                .col-6
                    div(class="box-users ")
                        div(class="inner-avatar")
                            img(
                                src= (user.avatar ? user.avatar : "/images/avt.png")
                                alt= user.fullname
                            )
                        div(class="inner-info")
                            div(class="inner-name") #{user.fullName}
                            div(class="inner-buttons")
                                a(
                                    href="#"
                                    class="btn btn-sm btn-primary mr-1"
                                ) Nhắn tin
                        div(
                            class="inner-statusOnline"
                            status-online= user.statusOnline
                        ) <i class="fa-solid fa-circle"></i>
                                


    block script 
        script(type="module" src="/js/users.js")