extends ../../layouts/default
include ../../mixins/alert
include ../../mixins/select-tree

block main
    if(role.permissions.includes("blogs_create"))
        h1(class="mb-4") Thêm mới bài viết

        +alert-error(5000)

        form(
            action=`${prefixAdmin}/blogs/create` 
            method="POST"
            enctype="multipart/form-data"
            upload-form
        )
            div(class="form-group")
                label(for="title") Tiêu đề
                input(
                    type="text"
                    class="form-control"
                    id="title"
                    name="title"
                    required
                )
            div(class="form-group")
                label(for="blog_category_id") Danh mục
                select(
                    name= "blog_category_id"
                    id= "blog_category_id"
                    class= "form-control"
                )
                    option(value="") Chọn danh mục 
                    if(records)
                        +select-tree(records)
            div(class="form-group")
                label(for="desc") Mô tả
                textarea(
                    class="form-control tinymce"
                    id="desc"
                    name="description"
                    rows="5"
                )
            div(class="form-group")
                label(for="content") Nội dung chi tiết
                textarea(
                    class="form-control tinymce"
                    id="content"
                    name="content"
                    rows="5"
                )
            div(class="form-group")
                label(for="position") 
                button(
                    type= "submit"
                    class="btn btn-primary"
                ) Tạo mới

        script(src="/admin/js/product.js")