extends ../../layouts/default
include ../../mixins/alert
include ../../mixins/select-tree

block main
    if(role.permissions.includes("blogs-category_create"))
        h1(class="mb-4") Chỉnh sửa danh mục bài viết

        +alert-error(5000)

        form(
            action=`${prefixAdmin}/blogs-category/edit/${data.id}?_method=PATCH` 
            method="POST"
            enctype="multipart/form-data"
            upload-form
        )
            div(class="form-group")
                label(for="title") Tiêu đề
                input(
                    type="text"
                    class="form-control"
                    id="title"
                    name="title"
                    value= data.title
                    required
                )
            div(class="form-group")
                label(for="parent_id") Danh mục
                select(
                    name= "parent_id"
                    id= "parent_id"
                    class= "form-control"
                )
                    option(value="") Chọn danh mục 
                    if(records)
                        +select-tree(records, 0, data.parent_id)
            div(class="form-group")
                label(for="desc") Mô tả
                textarea(
                    class="form-control tinymce"
                    id="desc"
                    name="description"
                    rows="5"
                ) #{data.description}
            div(class="form-group")
                label(for="position") 
                button(
                    type= "submit"
                    class="btn btn-primary"
                ) Cập nhập

        script(src="/admin/js/product.js")